/* your code here */
.photo-main > img{
	
}
.photo-album > ul > li > img{
	
}
.b{
	background-color:hotpink;
	color:white;
}
.a{
	height:20px;
	width:120px;
	background-color:hotpink;
	color:white;
	border-color:black;
	padding:10px;
	
}
